<style>
    *, html, body {
        font-size: 0.99em;
    }
    .heading1 {
        margin-left: 4em;
        margin-right: 4em;
    }
    .heading2 {
        margin-left: 4em;
        margin-right: 4em;
    }
    .heading2 {
        margin-left: 2em;
        margin-left: 2em;
    }
    .match_string {
        white-space: break-spaces;
    }
    pre { 
        border: 1px solid #000;
        padding: 5px;
    }

    .infos {
        padding: 20px;
    }

    .resp-table {
        width: 100%;
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        overflow-wrap: break-word;
    }
    .resp-table-body {
        display: table-row-group;
    }
    .border {
        border: 1px solid black;
    }
    .border-files {
        border-top: 4px solid black;
        border-bottom: 4px solid black;
    }
    .resp-table-row {
        display: table-row;
        width: 100%;
    }
    .table-body-cell{
        display: table-cell;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        vertical-align: middle;
        border: 1px solid black;
    }
    .cell-left {
        width: 15%;
    }
    .cell-right {
        width: 85%;
    }
    .metadata {
        width: 100%;
        margin-left: auto;
    }
    .files-width {
        width: 100%;
    }

    .info {
        border-color: #2196F3 !important;
        color: #2196F3 !important;
    }
    .warning {
        border-color: #b45f06 !important;
        color: #b45f06 !important;
    }
    .error {
        border-color: darkred !important;
        color: darkred !important;
    }
    .info .table-body-cell {
        border-color: #2196F3 !important;
        color: #2196F3 !important;
    }
    .warning .table-body-cell {
        border-color: #b45f06 !important;
        color: #b45f06 !important;
    }
    .error .table-body-cell {
        border-color: darkred !important;
        color: darkred !important;
    }
</style>